@model BanCaPhe.Models.KhachHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutQL.cshtml";
}

<div class="container">
    <div class="row">
        <div>
            <h3>Xác nhận xóa khách hàng @Model.Ten ?</h3>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(s => s.MaKH)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaKH)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ten)
                </dd>

                <dt>
                    Mật khẩu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MatKhau)
                </dd>

                <dt>
                    SĐT
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDT)
                </dd>

                <dt>
                   Địa chỉ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>

            </dl>
            <br/>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                    <a class="btn btn-primary" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Quay về</a>

                </div>
            }
        </div>
    </div>
</div>

